body {
  background-color: white;
}
.error {
  background-color: #b3231c;
  padding: 1rem;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.resultado {
  color: black;
}
.resultado h2 {
  font-weight: bold;
  color: black;
}
.resultado p {
  font-size: 18px!important;
}
.resultado p span {
  font-weight: bold;
}
p.precio{
  font-size: 30px!important;
}